:root {
    --color: #F8F9FA;
    --black: #212529;
    --text-color: #E9ECEF;
    --black-grey: #343A40;
    --border: #ADB5BD;
    --background-grey: #DEE2E6;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black) !important;
}

.navbar {
    background-color: var(--black);
    color: var(--color);
    display: flex;
    box-shadow: 0px 10px 10px var(--black-grey);
}

.nav-brand-link {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0.5rem;
}

.nav-brand-link:hover {
    color: var(--text-color);
}

.nav-list {
    list-style: none;
    display: flex;
}

.pagewrap .nav-link {
    color: var(--color);
    padding: 0.5rem;
}

.pagewrap ul {
    margin: 0;
    padding: 0;
}

.home-header {
    background-image: url(./assets/background-img.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
    height: 300px;
}

.header-nav {
    list-style: none;
    text-align: right;
    font-weight: 500;
}

.header-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
}

.header-nav-link:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.list-hide {
    color: var(--color);
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    margin: 1rem;
}

.header-container {
    display: none;
}

.list-hide .fa-bars {
    display: block;
}

.list-hide .fa-times {
    display: none;
}

.classes {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
}

.online-class,
.studio-class, .offline-class,.merchandise {
    display: flex;
    background-color: var(--color);
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid var(--border);
    margin: 0.2rem;
}

.classes .detail {
    text-align: center;
}

.detail h3 {
    text-decoration: underline;
}

.detail p {
    color: var(--border) !important;
}

.testimonials {
    padding: 2rem;
    text-align: center;
}

.testimonials .heading {
    font-size: xx-large;
    font-weight: bold;
    color: var(--color);
    text-decoration: underline;
}

.testimonial {
    padding: 1rem;
    color: var(--color);
}

.testimonials {
    background-image: url(./assets/testimonial-img.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
    margin: 1rem;
}

.review {
    padding: 0 4rem;
    border: var(--black-grey);
    text-align: justify;
}

.footer,
.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-list-item {
    padding: 1rem;
    font-size: larger;
}

.footer-link {
    color: var(--color);
}

.footer-detail {
    color: var(--color);
    padding: 1rem;
}

.footer-detail i {
    margin: 1rem;
    font-size: large;
}

.footer-detail p {
    margin: auto;
}

@media screen and (max-width:600px) {
    .header-container {
        display: block;
    }

    .list-hide {
        display: none;
    }
    .classes{
        
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 500px) {

    .pagewrap .nav-brand,
    .nav-list,
    .header-nav {
        font-size: larger;
        padding: 0 1rem;
    }

    .header-nav {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .header-list-item {
        display: inline;
        padding-inline-start: 1rem;
    }

    .header-nav {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .classes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }

    .online-class,
    .studio-class {
        margin: 1rem;
    }

    .testimonial {
        padding: 5rem 0;
    }
}
#studio-nav{
    padding:1rem;
    display:flex;
    justify-content: center;
    font-size: xx-large;
}

.main-container{
    padding:1rem;
    color:var(--color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading{
    font-size: xx-large;
}
.container-book{
    padding:3rem;
    display:flex !important;
    flex-direction: column !important;
    border:1px solid var(--text-color);
    box-shadow: 0px 0px 10px solid var(--text-color);
}
.name-ele, .time-ele, .date-ele, .email{
    padding:1rem;
    display:flex;
    flex-direction: column;
}
.name-ele label, .time-ele label, .date-ele label, .email label{
    margin:0.5rem;
    font-size: large;
}
.name-ele input, .time-ele input, .date-ele input, .email input{
    padding:1rem 2rem;
}
.container-book button{
    padding:1rem;
    background-color: var(--black-grey);
    color:var(--color);
}
.studio-class a{
    text-decoration: none;
    color:var(--black);
}
.studio-form{
    background-image:url(./assets/back-form.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.studio-footer{
    padding:1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color:var(--color);
    font-size: large;
}