:root {
    --color: #F8F9FA;
    --black: #212529;
    --text-color: #E9ECEF;
    --black-grey: #343A40;
    --border: #ADB5BD;
    --background-grey: #DEE2E6;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black) !important;
}

.navbar {
    background-color: var(--black);
    color: var(--color);
    display: flex;
    box-shadow: 0px 10px 10px var(--black-grey);
}

.nav-brand-link {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0.5rem;
}

.nav-brand-link:hover {
    color: var(--text-color);
}

.nav-list {
    list-style: none;
    display: flex;
}

.pagewrap .nav-link {
    color: var(--color);
    padding: 0.5rem;
}

.pagewrap ul {
    margin: 0;
    padding: 0;
}

.home-header {
    background-image: url(./assets/background-img.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
    height: 300px;
}

.header-nav {
    list-style: none;
    text-align: right;
    font-weight: 500;
}

.header-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
}

.header-nav-link:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.list-hide {
    color: var(--color);
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    margin: 1rem;
}

.header-container {
    display: none;
}

.list-hide .fa-times {
    display: none;
}

.classes{
    background-color:var(--black);
    display:flex;
    flex-direction: column;
    padding:1rem;
    margin:auto;
}
.online-class,.studio-class{
    display:flex;
    background-color: var(--color);
    padding:1rem;
    border-radius: 0.3rem;
    border:1px solid var(--border);
    margin:0.2rem;
}
.classes .detail{
    text-align: center;
}
.detail h3{
    text-decoration: underline;
}
.detail p{
    color:var(--border) !important;
}
.testimonials{
    padding:2rem;
    text-align: center;
}
.testimonials .heading{
    font-size: xx-large;
    font-weight: bold;
    color:var(--color);
    text-decoration: underline;
}
.testimonial{
    padding:5rem;
    color:var(--color);
}
.review{
    padding:0 3rem;
    border: var(--black-grey);
    text-align: justify;
}

@media only screen and (min-width: 500px) {

    .pagewrap .nav-brand,
    .nav-list,
    .header-nav {
        font-size: larger;
        padding: 0 1rem;
    }

    .header-nav {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .header-list-item {
        display: inline;
        padding-inline-start: 1rem;
    }

    .header-nav {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .header-container {
        display: block;
    }
    .list-hide{
        display: none;
    }
    .classes{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:3rem;
    }
    .online-class,.studio-class{
        margin:1rem;
    }
}